body {
	color: rgba(0, 0, 0, .87);
	font-family: "Lora", serif;
	font-size: 18px;
	letter-spacing: .01rem;
	line-height: 2em;
	margin: 0;
}

code {
	background-color: rgba(0, 0, 0, .2);
	font-size: 18px;
	padding: 4px;
}

p {
	font-size: 18px;
	margin-bottom: .5em;
	text-align: justify;
}

.article-container {
	float: left;
	max-width: 50%;
	margin: 5em;
}

.extra-container {
	margin: 5em;
	position: fixed;
	right: 0;
	text-align: center;
}

h1, h2, h3 {
	line-height: 2.25em;
	margin-top: .5em;
}